/* sidebar.css */
.sidebar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 220px; /* ลดขนาด sidebar */
  height: 100vh;
  background-color: #f9f9f9; /* เปลี่ยนสีพื้นหลัง */
  padding: 15px; /* ลด padding */
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08); /* ลด box-shadow */
}

.sidebar-header {
  text-align: center;
  margin-bottom: 15px; /* ลด margin */
}

.logo {
  font-size: 18px; /* ลดขนาด font */
  font-weight: 600; /* ลดความหนา font */
  text-decoration: none;
  color: #007bff;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  border-radius: 5px; /* ลด border-radius */
  display: block;
  padding: 8px 10px; /* ลด padding */
  color: #444; /* เปลี่ยนสีตัวอักษร */
  text-decoration: none;
  transition: background 0.3s;
  margin-top: 12px; /* ลด margin */
  margin-bottom: 12px; /* ลด margin */
}

.menu-item:hover {
  background-color: #e9ecef; /* เปลี่ยนสี hover */
  color: #333; /* เปลี่ยนสี hover */
}

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 15px; /* ลดขนาด font */
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.toggle:focus {
  outline: none;
}

.toggle:active {
  outline: none;
}

.icon-container {
  display: flex;
  align-items: center;
}

.sub-menu {
  list-style: none;
  padding-left: 15px; /* ลด padding */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.sub-menu.open {
  max-height: 500px;
}

.sub-menu-item {
  display: block;
  padding: 6px 8px; /* ลด padding */
  color: #555; /* เปลี่ยนสีตัวอักษร */
  text-decoration: none;
  transition: background 0.3s;
  font-size: 14px; /* ลดขนาด font */
  line-height: 1.5; /* เพิ่ม line-height */
}

.sub-menu-item:hover {
  background-color: #f0f0f0; /* เปลี่ยนสี hover */
}